@use '../../styles/functions' as *;
@import '../../styles/colors';

button {
    @include app-button(
        $background-color: $navbar-background, 
        $text-color: $text-color, 
        $hover-bg-color: $hover-background, 
        $hover-txt-color: $hover-text-color );
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold; 
}

i {
    margin-right: 0.5rem; 
    font-size: 1.2rem;
}